.react-quill{
    max-width:450px;
    color:black;
   
}
.ql-editor.ql-blank::before{
    
    font-style:normal;
    color:var(--text-color) !important;
}


.ql-snow .ql-picker{
    color:var(--text-color);
}
.ql-snow .ql-stroke{
    fill:none;
    stroke:var(--text-color);
}

.ql-snow .ql-fill,.ql-snow .ql-stroke.ql-fill{
    fill:var(--text-color);
}
.ql-snow.ql-toolbar{
    border:none;
    border-bottom: 1px solid var(--text-color);
    color:black;
    
}
.ql-container.ql-snow{
    border:none;
    margin-top:2.8rem;
    font-size:1rem;
    
}

.ql-snow.ql-toolbar button:hover .ql-stroke{
    stroke:var(--primary-color);


}
.ql-snow.ql-toolbar button .ql-stroke{
    stroke:black;


}
.ql-snow.ql-toolbar button.ql-active .ql-stroke{
    stroke:black;
}
.ql-snow.ql-toolbar button:hover .ql-fill{
    fill:var(--text-color);
}
.ql-snow.ql-toolbar button.ql-active .ql-fill{
    fill:var(--text-color);
}