.color-pallete-container{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}
.pallete-icon{
    font-size:1.8rem;
}
.color-pallete{
    display:flex;
    gap:0.4rem;
    padding:5px;
    position:absolute;
    top:2rem;
    border:1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--secondary-color);

}
.pallete-hide{
    display:none;
}
.color{
    padding:1rem;
    border-radius:50%;
    cursor:pointer;
}

.default{
    background-color: var(--body-bg-color);
    color:var(--secondary-text-color);
}
.blue{
    background-color: var(--blue-color);
    color:var(--secondary-text-color);
}
.yellow{
    background-color: var(--yellow-color);
    color:var(--secondary-text-color);
}
.pink{
    background-color: var(--pink-color);
    color:var(--secondary-text-color);
}
.green{
    background-color: var(--green-color);
    color:var(--secondary-text-color);
}
.brown{
    background-color: var(--brown-color);
    color:var(--secondary-text-color);
}
.violet{
    background-color: var(--violet-color);
    color:var(--highlight-color);
}