@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Akshar', sans-serif;
  
  }
  :root{
    --primary-color:#4D96FF;
    --secondary-color:#B5DEFF;
    --nav-bg:#f1f1f1;
    --pink-color:#eec9d2;
    --blue-color: #b3cde0;
    --green-color:#dcedc1;
    --brown-color:#f9caa7;
    --violet-color:#eedbdb ;
    --yellow-color:#fdf498;
    --secondary-text-color:#303030;
  }
  body.light-mode{
     --body-bg-color:#FFFFFFF;
      --text-color:black;
     --highlight-color:black;
     --nav-text-color:black;
  
  }
  body.dark-mode{
    --body-bg-color:#333333;
    --text-color:#FFFFFF;
    --highlight-color:#4D96FF;
    --nav-text-color:black;
  
  }
  body{
    margin:0;
    background-color:var(--body-bg-color);
    color:var(--text-color);
    letter-spacing:0.01em;
    font-family: 'Akshar', sans-serif;
  }
  
  
  
  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
